<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.ideasftw.bing-wallpaper</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/bash</string>
			<string>/Users/username/Pictures/bing-wallpaper.sh</string>
			<string>-s</string>
			<string>-w</string>
		</array>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		</dict>
		<key>LowPriorityIO</key>
		<true/>
		<key>Nice</key>
		<integer>1</integer>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<key>StandardErrorPath</key>
		<string>/tmp/bing-wallpaper.err</string>
		<key>StandardOutPath</key>
		<string>/tmp/bing-wallpaper.out</string>
	</dict>
</plist>
